:root {
    --primary-color: #4d5ae5;
    --state-color: #404bbf;
    --dark-color: #2e2f42;
    --text-color: #434455;
    --bg-light-color: #f4f4fd;
    --color-overlay: #2e2f42;
    --base-color: #ffffff;
    --accent-color: #e7e9fc;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--base-color);
}

footer {
    background-color: var(--color-overlay);
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--state-color);
}

.list {
    list-style-type: none;
}

.logo {
    color: var(--primary-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.logo-end {
    color: var(--dark-color);
}

.navigation-item {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-item {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-item:hover,
.navigation-item:focus {
    color: var(--state-color);
}

.address-item:hover,
.address-item:focus {
    color: var(--state-color);
}

.hero {
    background-color: var(--color-overlay);
}

.hero-title {
    color: var(--base-color);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    cursor: pointer;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--state-color);
}

.advantages-subtitle {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.activity-title {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team {
    background-color: var(--bg-light-color);
}

.team-list-item {
    background-color: var(--base-color);
}

.team-title {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-subtitle {
    color: var(--dark-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-text {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.bottom-logo-end {
    color: var(--bg-light-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: var(--bg-light-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-filtr-btn {
    color: var(--primary-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--bg-light-color);
    cursor: pointer;
}

.portfolio-filtr-btn:hover {
    color: var(--base-color);
    background-color: var(--state-color);
}

.portfolio-filtr-btn:focus {
    color: var(--base-color);
    background-color: var(--state-color);
}

.portfolio-cards-title {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-cards-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}